<!-- 可以使用 <script> 标签上的 generic 属性声明泛型类型参数： -->
<script setup>
import {
  h, // 创建虚拟 DOM 节点 (vnode)。
  ref,
  reactive,
  nextTick,
  computed,
  watch,
  watchEffect,
  watchPostEffect,
  watchSyncEffect,
  readonly,
  // 工具
  toRef,
  isRef, // 检查某个值是否为 ref。
  unref, // 如果参数是 ref，则返回内部值，否则返回参数本身。
  toValue,
  toRefs,
  isProxy, // 检查一个对象是否是由 reactive()、readonly()、shallowReactive() 或 shallowReadonly() 创建的代理。
  isReactive, // 检查一个对象是否是由 reactive() 或 shallowReactive() 创建的代理。
  isReadonly, // 检查传入的值是否为只读对象。只读对象的属性可以更改，但他们不能通过传入的对象直接赋值。
  // 进阶
  shallowRef, // ref() 的浅层作用形式。
  triggerRef, // 强制触发依赖于一个浅层 ref 的副作用，这通常在对浅引用的内部值进行深度变更后使用。
  customRef, //创建一个自定义的 ref，显式声明对其依赖追踪和更新触发的控制方式。
  shallowReactive, // reactive() 的浅层作用形式。
  shallowReadonly, // readonly() 的浅层作用形式
  toRaw, // 根据一个 Vue 创建的代理返回其原始对象。
  markRaw, // 将一个对象标记为不可被转为代理。返回该对象本身。
  effectScope, // 创建一个 effect 作用域，可以捕获其中所创建的响应式副作用 (即计算属性和侦听器)，这样捕获到的副作用可以一起处理。
  getCurrentScope, // 如果有的话，返回当前活跃的 effect 作用域.
  onScopeDispose, // 在当前活跃的 effect 作用域上注册一个处理回调函数。当相关的 effect 作用域停止时会调用这个回调函数。

  // 生命周期钩子
  onMounted, // 注册一个回调函数，在组件挂载完成后执行。
  onUpdated, // 注册一个回调函数，在组件因为响应式状态变更而更新其 DOM 树之后调用。
  onUnmounted, // 注册一个回调函数，在组件实例被卸载之后调用。
  onBeforeMount, // 注册一个钩子，在组件被挂载之前被调用。
  onBeforeUpdate, // 注册一个钩子，在组件即将因为响应式状态变更而更新其 DOM 树之前调用。
  onBeforeUnmount, // 注册一个钩子，在组件实例被卸载之前调用。
  onErrorCaptured, // 注册一个钩子，在捕获了后代组件传递的错误时调用。
  onRenderTracked, // 注册一个调试钩子，当组件渲染过程中追踪到响应式依赖时调用。这个钩子仅在开发模式下可用，且在服务器端渲染期间不会被调用。
  onRenderTriggered, // 注册一个调试钩子，当响应式依赖的变更触发了组件渲染时调用。这个钩子仅在开发模式下可用，且在服务器端渲染期间不会被调用。
  onActivated, // 注册一个回调函数，若组件实例是 <KeepAlive> 缓存树的一部分，当组件被插入到 DOM 中时调用。这个钩子在服务器端渲染期间不会被调用。
  onDeactivated, // 注册一个回调函数，若组件实例是 <KeepAlive> 缓存树的一部分，当组件从 DOM 中被移除时调用。这个钩子在服务器端渲染期间不会被调用。
  onServerPrefetch, // 注册一个异步函数，在组件实例在服务器上被渲染之前调用。

  // 依赖注入
  provide, // 提供一个值，可以被后代组件注入。
  inject, // 注入一个由祖先组件或整个应用 (通过 app.provide()) 提供的值。
  hasInjectionContext, // 如果 inject() 可以在错误的地方 (例如 setup() 之外) 被调用而不触发警告，则返回 true。此方法适用于希望在内部使用 inject() 而不向用户发出警告的库。
  Transition, // 为单个元素或组件提供动画过渡效果。

  useSlots,
  useAttrs,  // 单根节点会透传 Attributes 多根节点会警告



  useCssModule, // 

  mergeProps, // 合并多个 props 对象，用于处理含有特定的 props 参数的情况。
  cloneVNode, // 克隆一个 vnode。


  // 实例访问
  getCurrentInstance, // 获取当前组件的实例

} from "vue";

// console.log(useSlots(), useAttrs(), "useSlots,useAttrs");
console.log(useCssModule('classes'), useCssModule(), "useCssModule,useCssModule");

import SFC from "@/components/SFC单文件组件.vue";
import * as Form from "@/components";

const aaa = ref(null);
const text = ref(null);
const bookTitle = ref("");

const readonlyZHI = readonly(100);

const theme = ref({
    color: '#d45a7c',
})

const post = ref({
  id: "1",
  title: "My Journey with Vue",
});

const original = h('div')
const cloned = cloneVNode(original, { id: 'foo',class: 'classes.red' },'hello')
console.log(cloned);


// 立即运行一个函数，同时响应式地追踪其依赖，并在依赖更改时重新执行。
// 设置 flush: 'post' 将会使侦听器延迟到组件渲染之后再执行
// 在某些特殊情况下 (例如要使缓存失效)，可能有必要在响应式依赖发生改变时立即触发侦听器。这可以通过设置 flush: 'sync' 来实现。
// watchEffect(async () => {
//   console.log(bookTitle.value,'watchEffect');
// },{ flush: 'post' });
// //  使用 flush: 'post' 选项时的别名。
// watchPostEffect(async () => {
//   console.log(bookTitle.value,'watchPostEffect');
// });
// // 使用 flush: 'sync' 选项时的别名。
// watchSyncEffect(async () => {
//   console.log(bookTitle.value,'watchSyncEffect');
// });

// 侦听一个或多个响应式数据源，并在数据源变化时调用所给的回调函数。
// 当侦听多个来源时，回调函数接受两个数组，分别对应来源数组中的新值和旧值：
watch([text, bookTitle], ([foo, bar], [prevFoo, prevBar]) => {
  /* ... */
  console.log(foo, bar, prevFoo, prevBar);
});

const enlargeTextFun = (val) => {
  console.log(val);
  // readonlyZHI.value ++
  console.log(readonlyZHI);
};

// toRef() 这个函数在你想把一个 prop 的 ref 传递给一个组合式函数时会很有用：
</script>

<template>
  <div class="divClass">
    <!-- <KeepAlive>
      <SFC
        :greeting-message="'好傻啊'"
        @enlarge-text="enlargeTextFun"
        @submit="enlargeTextFun"
        v-model.capitalize="bookTitle"
        v-model:first-name.capitalize="bookTitle"
        v-model:last-name.uppercase="bookTitle"
      />
    </KeepAlive> -->

    <Form.SFC class="TCAttributes"> </Form.SFC>

    <Form.HelloWorld class="wordClass"> </Form.HelloWorld>


    <cloned />

    <h1 :class="classes.red">写点东西吧</h1>
    <h1 :class="$style.text">生效了吗</h1>

    <!-- <SFC :greeting-message="'xinxi'"/>
    <SFC v-bind="post"/>
    <SFC /> -->

    <!-- <input
      :value="text"
      :ref="
        (el) => {
          aaa = el; /* 将 el 赋值给一个数据属性或 ref 变量 */
        }
      "
    /> -->
  </div>
</template>

<style scoped lang="scss">
.divClass {
  &:deep(.wordClass) {
    background: brown !important;
    height: 100%;
  }

  // :slotted  插槽选择器
  // :global  全局选择器
}

// .wordClass {
//   background-color: rgb(190, 116, 19);
// }
</style>

<style module="classes">
/* module  上面class就得携程  $style.red */
/* module="classes"  上面class就得携程  classes.red */
.red {
  color: red;
}

</style>

<!-- <style>
.text {
  color: v-bind('theme.color');
}
</style> -->
<style module>
.text {
  color: v-bind('theme.color');
}
</style>

