<script>
import { toRefs, toRef } from "vue";

export default {
  props: {
    title: String,
    title1: String,
  },
  setup(props) {
    // 将 `props` 转为一个其中全是 ref 的对象，然后解构
    const { title } = toRefs(props);
    // `title` 是一个追踪着 `props.title` 的 ref
    console.log(title.value);

    // 或者，将 `props` 的单个属性转为一个 ref
    const title1 = toRef(props, "title");
    console.log(title1.value);
  },

  // 如果你确实需要解构 props 对象，或者需要将某个 prop 传到一个外部函数中并保持响应性，
  // 那么你可以使用 toRefs() 和 toRef() 这两个工具函数：
};
</script>

<template>
  <div class="card"></div>
</template>

<style scoped lang="scss"></style>
