<script setup>
import { fetchData, updateUser } from "@/request";
import { ref, reactive, onMounted, onUnmounted, getCurrentInstance } from "vue";

const { proxy } = getCurrentInstance()
console.log(proxy.$LX,'*********');


const tableData = ref([]);
const tableData1 = ref([]);

const tableRowClassName = ({ row, rowIndex }) => {
  if (rowIndex === 1) {
    return "warning-row";
  } else if (rowIndex === 3) {
    return "success-row";
  }
  return "";
};

onMounted(async () => {
  try {
    // 获取数据
    let data = await fetchData();
    console.log(data);
    tableData.value = data.list;
    let data2 = await updateUser({});
    tableData1.value = data2.list;
    console.log(data2);

    console.log("所有操作完成");
  } catch (error) {
    console.error("操作失败:", error);
  }
});
</script>

<template>
  <div>
    <el-table :data="tableData" stripe style="width: 100%">
      <el-table-column prop="name" label="name" width="180" />
      <el-table-column prop="foo" label="foot" width="180" />
      <el-table-column prop="string" label="string" />
    </el-table>

    <h1></h1>

    <el-table
      :data="tableData1"
      stripe
      style="width: 100%"
      :row-class-name="tableRowClassName"
    >
      <el-table-column prop="name" label="name" width="180" />
      <el-table-column prop="city" label="city" width="180" />
      <el-table-column
        prop="cparagraph"
        label="cparagraph"
        show-overflow-tooltip
      />
    </el-table>
  </div>
</template>

<style scoped lang="scss"></style>
