<script setup>
import { ref, useAttrs } from "vue";


console.log(useAttrs(),'useAttrs');
// console.log(this,'this.$data');
const count = ref(0);

// 一个组件可以有任意多的 props，默认情况下，所有 prop 都接受任意类型的值。
// defineProps(['title'])
const props = defineProps({
  greetingMessage: {
    type: String,
    default: "default greetingMessage",
  },
  id: {
    type: String,
    default: "default id",
  },
  title: {
    type: String,
    default: "default title",
    // required: true,
  },
  objectArray: {
    type: Array,
    default: () => [],
  },
});

defineOptions({
  inheritAttrs: false // 禁止父组件传递的属性
})


const $emit = defineEmits(["enlarge-text", "submit"]);

const click1 = () => {
  $emit("enlarge-text", "这个emit哪里来的");
};
const click2 = () => {
  $emit("submit", "第二个俺就");
};

const [mode, modifiers] = defineModel({
  set(value) {
    if (modifiers.capitalize) {
      return value.charAt(0).toUpperCase() + value.slice(1);
    }
    return value;
  },
});

const [firstName, firstNameModifiers] = defineModel("firstName");
const [lastName, lastNameModifiers] = defineModel("lastName");

console.log(firstName, firstNameModifiers);
console.log(lastName, lastNameModifiers);
</script>

<template>
  <!-- <button @click="count++">You clicked me {{ count }} times.</button> -->
  <!-- <div>{{ title.lixin }}</div> -->

  <div class="mb-4">
    <el-button @click="click1" type="warning" round>{{
      props.greetingMessage
    }}</el-button>
    <el-button @click="click2" type="danger" round>{{ props.title }}</el-button>
  </div>

  <el-input v-model="mode" style="width: 240px" clearable />

  <div class="mb-4">
    <el-input v-model="firstName" style="width: 240px" clearable />
  </div>

  <div class="mb-4">
    <el-input v-model="lastName" style="width: 240px" clearable />
  </div>

  <header>...</header>
  
</template>
