<script setup>

</script>

<template>

<div class="common-layout">
    <el-container>
      <el-header class="HeaderClass">Header</el-header>
      <el-container>
        <el-aside width="200px">Aside</el-aside>
        <el-main>
          
          <RouterView />
          
        </el-main>
      </el-container>
    </el-container>
  </div>


  <!-- <div>
    <RouterView />
  </div> -->
</template>

<style scoped lang="scss">
.HeaderClass {
    background: red;
}
</style>
