<script setup>
// import HelloWorld from './components/HelloWorld.vue'

// ​import.meta.env.MODE​: {string} 应用运行的模式。
// ​import.meta.env.BASE_URL​: {string} 部署应用时的基本 URL。他由​base​ 配置项决定。
// ​import.meta.env.PROD​: {boolean} 应用是否运行在生产环境。
// ​import.meta.env.DEV​: {boolean} 应用是否运行在开发环境 (永远与 ​import.meta.env.PROD​相反)。

console.log(import.meta.env.MODE, '应用运行的模式。');
console.log(import.meta.env.BASE_URL, '部署应用时的基本 URL。他由​base​ 配置项决定');
console.log(import.meta.env.PROD, '应用是否运行在生产环境。');
console.log(import.meta.env.DEV, '应用是否运行在开发环境 (永远与 ​import.meta.env.PROD​相反)');

console.log(import.meta.hot, '对象暴露手动 HMR API');


if (import.meta.hot) {
  // HMR 代码
  console.log('请确保用一个条件语句守护所有 HMR API 的使用，这样代码就可以在生产环境中被 tree-shaking 优化')

  import.meta.hot.accept((newModule) => {
    console.log('updated: count is now ', newModule)
  })
  // import.meta.hot.dispose -- 一个接收自身的模块或一个期望被其他模块接收的模块可以使用 hot.dispose 来清除任何由其更新副本产生的持久副作用
  // import.meta.hot.data -- 对象在同一个更新模块的不同实例之间持久化。它可以用于将信息从模块的前一个版本传递到下一个版本。
  // 调用 import.meta.hot.decline() 表示此模块不可热更新，如果在传播 HMR 更新时遇到此模块，浏览器应该执行完全重新加载。
  // 现在调用 import.meta.hot.invalidate() 只是重新加载页面。

  // import.meta.hot.on -- 监听自定义 HMR 事件。
  /**
   * 以下 HMR 事件由 Vite 自动触发：
   * 'vite:beforeUpdate'​ 当更新即将被应用时（例如，一个模块将被替换）
   * 'vite:beforeFullReload'​ 当完整的重载即将发生时
   * 'vite:beforePrune'当不再需要的模块即将被剔除时
   * 'vite:error'​ 当发生错误时（例如，语法错误）
   */
  
}

</script>

<template>
  <div>
    <a href="https://vitejs.dev" target="_blank">
      <img src="/vite.svg" class="logo" alt="Vite logo" />
    </a>
    <a href="https://vuejs.org/" target="_blank">
      <img src="./assets/vue.svg" class="logo vue" alt="Vue logo" />
    </a>


    <!-- <p>{{ import.meta.env.MODE }}</p> -->
  </div>
  <!-- <HelloWorld msg="Vite + Vue" /> -->
</template>

<style scoped>
</style>
