<script setup>
import { useAlertsStore } from "@/store";
import { storeToRefs, mapState, mapWritableState } from "pinia";
// const store = storeToRefs(useAlertsStore())
const store = useAlertsStore();

// 重置 state
// store.$reset()

// store.$patch((state) => {
//   console.log(state);
//   state.items.push({ name: 'shoes', quantity: 1 })
//   state.hasChanged = false
// })

store.$onAction(
  ({
    name, // action 名称
    store, // store 实例，类似 `someStore`
    args, // 传递给 action 的参数数组
    after, // 在 action 返回或解决后的钩子
    onError, // action 抛出或拒绝的钩子
  }) => {
    // 为这个特定的 action 调用提供一个共享变量
    const startTime = Date.now();
    // 这将在执行 "store "的 action 之前触发。
    console.log(`Start "${name}" with params [${args.join(", ")}].`);

    // 这将在 action 成功并完全运行后触发。
    // 它等待着任何返回的 promise
    after((result) => {
      console.log(
        `Finished "${name}" after ${
          Date.now() - startTime
        }ms.\nResult: ${result}.`
      );
    });

    // 如果 action 抛出或返回一个拒绝的 promise，这将触发
    onError((error) => {
      console.warn(
        `Failed "${name}" after ${Date.now() - startTime}ms.\nError: ${error}.`
      );
    });
  }
);

console.log(store);

/**
 * $dispose    功能: 用于销毁store实例，清理相关资源，当不再需要某个store时调用，有助于内存管理。
 * $id         功能: 返回当前store的唯一标识符，通常在使用createStore时自动生成，用于区分不同的store实例。
 * $onAction   功能: 注册一个监听器，该监听器会在store中的actions被触发时执行。可用于全局的日志记录、性能监控等。
 * $patch      功能: 允许你部分更新state，接收一个对象或函数作为参数，对象会被合并到state，函数则会被用来修改state，不触发组件重新渲染之外的副作用。
 * $reset      功能: 重置store的state到初始状态，类似于Vue组件的reset，常用于表单重置或组件状态的重置。
 * $subscribe   功能: 订阅store状态的变化，当state发生改变时，传入的回调函数会被调用。可以用来实现复杂的副作用逻辑或跨组件通信。
 * 如果你想在组件卸载后依旧保留它们，请将 { detached: true } 作为第二个参数
 *
 * $subscribeActions  功能: 类似于$subscribe，但允许你订阅store中的actions，并在触发时执行回调函数。
 * $subscribeKey  功能: 类似于$subscribe，但允许你只订阅state中特定key的变化，提供更细粒度的监听。
 * $withStateFrom  功能: 从其他store获取状态，并将其作为当前store的一部分暴露出来，方便在组件中直接访问，实现store之间的状态共享。
 * $subscribeWithSelector 功能: 类似于$subscribe，但允许你订阅state中特定key的变化，并返回一个包含该key的selector函数，用于在组件中直接访问。
 * $onError    功能: 注册一个监听器，该监听器会在store中的actions发生错误时执行。可用于全局的错误处理。
 *
 *  */
</script>

<template>
  <div>
    <!-- <button @click="store.increment()">{{ store.count }}</button> -->

    <!-- <el-button >Default</el-button>
    <el-button type="primary">Primary</el-button> -->

    <router-link to="/">
      <el-button type="primary">首页</el-button>
    </router-link>
    
    <router-link to="/about">
      <el-button type="primary">第二个</el-button>
    </router-link>

    <RouterView />
  </div>
</template>

<style scoped></style>
